Django==1.4.3
South==0.7.6
amqp==1.0.6
anyjson==0.3.3
billiard==2.7.3.19
celery==3.0.12
dj-database-url==0.2.1
django-celery==3.0.11
django-pylibmc-sasl==0.2.4
gdata==2.0.17
gunicorn==0.16.1
kombu==2.5.4
openpyxl==1.6.1
psycopg2==2.4.6
pygeoip==0.2.5
pylibmc==1.2.3
python-dateutil==1.5
python-memcached==1.48
pytz==2012h
wsgiref==0.1.2
newrelic
