.labels { font-weight: bold; background-color: #606060; padding: 2px 6px 2px 6px; 
          color: #ea9600; text-align: center; }

#video-table { text-align: center; margin: 0 auto 0 auto; }

.vid-reward { text-align: center; }
.vid-num-ratings { text-align: center; }
.vid-avg-rating { text-align: center; }
.unrated { background-color: #C6C6C6; }
.rated { background-color: #2ABB1F; }
