.user-info { font-size: 14px; }
.active { background-color: #6FA800; }
.payout { background-color: #0C68B0; }
.left { float: left; }
.right { float: right; }

#quick-stats { text-align: center; color: #6FA800; }
#stats-payout { color: #0C68B0; }
#legend { text-align: right; }
#xlsx-export-button { cursor: pointer; }

