table { text-align: center; margin: 0 auto 0 auto; }
td { padding: 0 5px 0 5px; }

.labels { font-weight: bold; background-color: #606060; padding: 2px 6px 2px 6px; color: #ea9600;}

.center { text-align: center; }
