html
{
    background: url(/content/assets/static/images/background.png) repeat black;
    height: 100%;
    color: #fff;
    font-family: museo-sans;
}
/*    -webkit-box-shadow: inset 0 0 20px #000;*/

.header
{
    font-family: museo-slab;
    color: #ea9600;
    font-size: 50px;
}

#body-header { text-align: center; margin: 50px auto 50px auto; }

#body-content
{
    margin: 0 80px 0 80px;
    font-size: 18px;
}

/* Notify */
.notify { display: none; margin-bottom: 10px; padding: 5px 10px; max-height: 35px;
          overflow: hidden; *zoom: 1; text-align: center;}
.error { background: #FF1D1D; color: #fff; padding: 5px 15px; }
.alert { background: #0C68B0; border: 1px solid yellow; }
.success { background: #6FA800; color: #fff; }

/* Fonts */
@font-face
{
    font-family: museo-sans;
    src: url(/content/assets/static/fonts/museo_sans_500.ttf),
         url(/content/assets/static/fonts/museo_sans_500.eot),
         url(/content/assets/static/fonts/museo_sans_500.woff);
}

@font-face
{
    font-family: museo-slab;
    src: url(/content/assets/static/fonts/museo_slab_500.ttf),
         url(/content/assets/static/fonts/museo_slab_500.eot),
         url(/content/assets/static/fonts/museo_slab_500.woff);
}
.museo-sans { font-family: museo-sans; }
.museo-slab { font-family: museo-slab; }

/* URLs */
a:link
{
    color: #fff;
}
a:visited
{
    color: #fff;
}
a:hover
{
    color: #fff;
}

