{% extends "page_base.html" %}

{% block head %}
    {{ block.super }}
{% endblock head %}

{% block body %}
<div id="fb-root"></div>
<script src="{{ MEDIA_URL }}scripts/accounts/fb.js"></script>
<div id="body-content">
    <div id="login_status">
    {% if status == "out" %}
        If you are logged into Facebook, Rate My Video will log you in automatically...<br />
    <br />
        Taking too long? Click the button below to log into Rate My Video!<br />
        <a href="#" onclick="onLoginButton();"><img id="invite-submit-button" src=" {{ MEDIA_URL }}static/images/facebook_button.png" /></a>
    {% elif status == "user_denied" %}
        You must login and approve the requested permissions before using Rate My Video.
        <br /><br />
        <a href="/login/">Try Again</a>
    {% else %}
        Good to see you, {{ name }}!
    {% endif %}
    </div>
</div>
{% endblock body %}

{% block styles %}
    {{ block.super }}
{% endblock styles %}
{% block scripts %}
    {{ block.super }}
{% endblock scripts %}
