{% extends "page_base.html" %}

{% block head %}
    {{ block.super }}
    <title> Rate My Video - Page Not Found</title>
{% endblock head %}

{% block body %}
<div class="header">404 Error - Page Not Found!</div>
<br />
The address you entered is not a functioning page on our site.<br /><br />
<input type="button" value="Go Back" onClick="javascript:history.go(-1);">
{% endblock body %}

{% block styles %}
    {{ block.super }}
{% endblock styles %}
{% block scripts %}
    {{ block.super }}
{% endblock scripts %}
