{% extends "page_base.html" %}

{% block head %}
    {{ block.super }}
    <title>Rate My Video Admin - Add Video</title>
{% endblock head %}

{% block body %}
<div id="add-video-form">
    <div class="notify"></div>
    <div class="add-video-form-row">
        <label for="video-yt-id-input" class="required">YouTube ID (required):</label>
        <input id="video-yt-id-input" type="text" name="yt-id" maxlength="11">
    </div>
    <div class="add-video-form-row">
        <label for="video-title-input">Title (optional, default will be YouTube video title):</label>
        <input id="video-title-input" type="text" name="title">
    </div>
    <div class="add-video-reward">
        <label for="video-reward-input" class="required">Reward (required):</label>
        <input id="video-reward-input" type="text" name="reward">
    </div>
    <div class="add-video-tags">
        <label for="video-tags-input">Tags (optional, default is blank):</label>
        <input id="video-tags-input" type="text" name="tags">
    </div>
    <div class="submit-row">
        <label>&nbsp;</label><button id="video-submit" onclick="onButtonAdd();">Add Video</button>
    </div>
</div>
{% endblock body %}

{% block styles %}
    {{ block.super }}
{% endblock styles %}

{% block scripts %}
    <script src="{{ STATIC_URL}}scripts/rmvadmin/add_video.js"></script>
    {{ block.super }}
{% endblock scripts %}
