{% extends "page_base.html" %}

{% block head %}
    {{ block.super }}
    <title>Rate My Video Admin</title>
{% endblock head %}

{% block body %}
<div class="header">Rate My Video Admin</div>
<br />
General Information<br />
<a href="{% url site_stats %}">Site Stats</a><br />
<br />
Users<br />
<a href="{% url list_users %}?filter=balance&rev">List Users</a><br />
<a href="{% url invites %}">View Invite Requests</a><br />
<a href="{% url masspay_csv %}">Export Mass Pay CSV</a><br />
<a href="{% url mass_payout %}">Submit Mass Pay CSV</a><br />
<br />
Videos<br />
<a href="{% url list_videos %}">List Videos</a><br />
<a href="{% url add_video %}">Add Video</a><br />
<br />
<a class="button" href="{% url rmv_logout %}"><span>Logout</span></a>
{% endblock body %}

{% block styles %}
    {{ block.super }}
    <link type="text/css" rel="stylesheet"
        href="{{ STATIC_URL }}styles/rmvadmin/rmvbase.css" />
{% endblock styles %}
