{% extends "page_base.html" %}
{% load div %}

{% block head %}
    {{ block.super }}
    <title>Rate My Video - List Users</title>
{% endblock head %}

{% block body %}
<a href="{% url rmvhome %}">RMV Admin</a> > List Users<br /><br />
<div class="left">
    Users per page:
    <select id="num-select">
        <option value="10" {% if num == 10 %}selected{% endif %}>10</option>
        <option value="25" {% if num == 25 %}selected{% endif %}>25</option>
        <option value="50" {% if num == 50 %}selected{% endif %}>50</option>
        <option value="100" {% if num == 100 %}selected{% endif %}>100</option>
        <option value="all" {% if num > 100 %}selected{% endif %}>All</option>
    </select>
</div>
<a id="xlsx-export-button" class="button right">Export to Spreadsheet</a>
<a id="masspay-export-button" class="button right" href="{% url masspay_csv %}">Export MassPay CSV</a>
<br /><br />

<div id="quick-stats">
    <span id="stats-active">Active Users: {{ total_active }} ({{ total_users }} Total)</span><br />
    <span id="stats-payout">{% if total_payout > 0 %}
        {{ total_payout }} User{% if total_payout > 1 %}s are{% else %} is{% endif %} eligible for a payout
        {% endif %}
    </span>
</div>
<div id="legend">
    P = User has a PayPal email<br />
    V = User is verified
</div>
<table id="users-table">
    <tr class="labels">
        <td>&nbsp;</td>
        <td><a href="{% url list_users %}?filter=real_name{% if not rev %}&rev{% endif %}&num={{ num }}">Name</a></td>
        <td><a href="{% url list_users %}?filter=email{% if not rev %}&rev{% endif %}&num={{ num }}">Email</a></td>
        <td><a href="{% url list_users %}?filter=age{% if not rev %}&rev{% endif %}&num={{ num }}">Age</a></td>
        <td><a href="{% url list_users %}?filter=gender{% if not rev %}&rev{% endif %}&num={{ num }}">Gender</a></td>
        <td><a href="{% url list_users %}?filter=location{% if not rev %}&rev{% endif %}&num={{ num }}">Location</a></td>
        <td><a href="{% url list_users %}?filter=balance{% if not rev %}&rev{% endif %}&num={{ num }}">Balance</a></td>
        <td><a href="{% url list_users %}?filter=earned{% if not rev %}&rev{% endif %}&num={{ num }}">Earned</a></td>
        <td><a href="{% url list_users %}?filter=rated{% if not rev %}&rev{% endif %}&num={{ num }}">Rated</a></td>
        <td><a href="{% url list_users %}?filter=liked{% if not rev %}&rev{% endif %}&num={{ num }}">Liked</a></td>
        <td><a href="{% url list_users %}?filter=referral{% if not rev %}&rev{% endif %}&num={{ num }}">Referral</a></td>
        <td><a href="{% url list_users %}?filter=created_date{% if not rev %}&rev{% endif %}&num={{ num }}">Joined</a></td>
        <td>
            <a href="{% url list_users %}?filter=tslr{% if not rev %}&rev{% endif %}&num={{ num }}">Last Rating</a>
        </td>
        <td>P</td>
        <td>V</td>
    </tr>
    {% for user in users %}
    <tr class="user-info {% cycle 'even' 'odd' %}">
        <td>{{ forloop.counter }}</td>
        <td class="user-name"><a href="{% url rmvhome %}user/{{ user.fb_id }}/">{{ user.real_name }}</a></td>
        <td class="user-email">{{ user.email }}</td>
        <td class="user-age">{{ user.age }}</td>
        <td class="user-gender">{{ user.gender|capfirst }}</td>
        <td class="user-location">{{ user.location }}</td>
        <td class="user-balance{% if user.balance >= 10 %} payout{% endif %}">{{ user.balance }}</td>
        <td class="user-earned">{{ user.earned }}</td>
        <td class="user-rated{% if user.rated > 0 %} active{% endif %}">{{ user.rated }}</td>
        <td class="user-liked">{{ user.liked }}</td>
        <td class="user-referral">{{ user.referral|capfirst|truncatechars:20 }}</td>
        <td class="user-joined-date">{{ user.created_date|date:'m-d-y' }}<br />{{ user.created_date|date:'f a' }}</td>
        <td class="user-tslr">
            {% if user.tslr.days == 999999999 %}Never{% else %}
                {% if user.tslr.days > 0 %}{{ user.tslr.days }}d{% endif %}
                {{ user.tslr.seconds|div:3600 }}h
            {% endif %}
        </td>
        <td>{% if user.pp_email %}&#x2713;{% endif %}</td>
        <td>{% if user.verified %}&#x2713;{% endif %}</td>
    </tr>
    {% endfor %}
</table>

<div class="pagination">
    <span class="step-links">
        {% if users.has_previous %}
            <a href="?page={{ users.previous_page_number }}&num={{ users.paginator.per_page }}"><</a>
        {% endif %}
        <span class="current-page">
            {{ users.number }} of {{ users.paginator.num_pages }}
        </span>
        {% if users.has_next %}
            <a href="?page={{ users.next_page_number }}&num={{ users.paginator.per_page }}">></a>
        {% endif %}
    </span>
</div>
<br />
{% endblock body %}

{% block styles %}
    {{ block.super }}
    <link type="text/css" rel="stylesheet"
        href="{{ STATIC_URL }}styles/rmvadmin/list_users.css" />
    <link type="text/css" rel="stylesheet"
        href="{{ STATIC_URL }}styles/rmvadmin/rmvbase.css" />
{% endblock styles %}

{% block scripts %}
    {{ block.super }}
    <script src="{{ STATIC_URL }}scripts/rmvadmin/list_users.js"></script>
{% endblock scripts %}
