{% extends "page_base.html" %}

{% block head %}
    {{ block.super }}
    <title>Rate My Video - Payout to {{ user.real_name }}</title>
{% endblock head %}

{% block body %}
<a href="{% url rmvhome %}">RMV Admin</a> > <a href="{% url list_users %}">List Users</a> > <a href="{% url user_info user.fb_id %}">{{ user.real_name|truncatechars:15 }}</a> > Payout<br /><br />

<div id="user-name" class="center">{{ user.real_name }}</div><br />
<div id="user-amounts" class="center">
    Earned: ${{ user.earned }}<br />
    Balance: ${{ user.balance }}<br />
</div>
<br />
<div id="amount-form" class="center">
    Payout amount: <input type="text" id="amount-input">
</div>
<br />
<div id="action-buttons" class="center">
    <a class="button" id="payout-button">Payout</a>
    <a class="button" href="{% url user_info user.fb_id %}">Back</a>
</div>
<br />
<div id="notify-bar">
    <div class="notify"></div>
</div>
<br />
<div id="payout-history">
    <div class="table-title">Payout History</div>
    {% if payouts %}
    <table id="payout-table">
        <tr class="labels">
            <td>&nbsp;</td>
            <td>Amount</td>
            <td>Date</td>
        </tr>
        {% for po in payouts %}
        <tr class="po-entry {% cycle 'even' 'odd' %}">
            <td>{{ forloop.counter }}</td>
            <td>{{ po.amount }}</td>
            <td>{{ po.created_date }}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}<div class="empty">No payouts have been made to this user!</div>{% endif %}
</div>
{% endblock body %}

{% block styles %}
    {{ block.super }}
    <link type="text/css" rel="stylesheet"
        href="{{ STATIC_URL }}styles/rmvadmin/rmvbase.css" />
    <link type="text/css" rel="stylesheet"
        href="{{ STATIC_URL }}styles/rmvadmin/payout.css" />
{% endblock styles %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}scripts/rmvadmin/payout.js"></script>
{% endblock scripts %}
