{% extends "page_base.html" %}

{% block head %}
    {{ block.super }}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}scripts/rmvadmin/site_stats.js"></script>
{% endblock head %}

{% block body %}
<div id="chart_div" style="width:400; height:300"></div>
{% endblock body %}

{% block styles %}
    {{ block.super }}
    <link type="text/css" rel="stylesheet"
        href="{{ MEDIA_URL }}styles/rmvadmin/rmvbase.css" />
{% endblock styles %}

{% block scripts %}
    {{ block.super }}
{% endblock scripts %}
