{% extends "page_base.html" %}

{% block head %}
    <link rel="chrome-webstore-item"
        href="https://chrome.google.com/webstore/detail/gahghbffpddmcjigjedgeamooimpjkce">
    {{ block.super }}
    <title>Rate My Video - Get Paid to Find the Next Viral Sensation!</title>
{% endblock head %}

{% block body %}
<script src="{{ STATIC_URL }}scripts/homepage/homepage.js"></script>
<div class="header">
The only place where you get paid to find the next viral sensation!<br /><br />
</div>

<div id="signup">
If you would like to sign up and start rating videos, fill out the form below!
    <br />
    <div id="input-desc">Who referred you to Rate My Video?</div>
    <div id="input-div">
        <input id="desc-input" type="text" name="desc-input">
            <a href="#">
                <img id="invite-submit-button" src="{{ STATIC_URL }}images/facebook_40px.png" />
            </a>
    </div>
    <div class="notify"></div>
    <br />
Already registered with our service? <a href="#" onclick="chrome.webstore.install();">Install</a> our Chrome extension!
<br />
Feel free to send an email to <a href="mailto:support@ratemyvideo.co">support@ratemyvideo.co</a> if you have any questions or issues.
<br /><br />
Visit our <a href="https://www.facebook.com/pages/Rate-My-Video/318739118241209">Facebook page</a> and connect with others who are using this service!
</div>
{% endblock body %}
{% block styles %}
    <link type="text/css" rel="stylesheet"
        href="{{ STATIC_URL }}styles/homepage/homepage.css" />
    {{ block.super }}
{% endblock styles %}
{% block scripts %}
    {{ block.super }}
{% endblock scripts %}
