{% extends "page_base.html" %}

{% block head %}
    {{ block.super }}
{% endblock head %}

{% block body %}
<div id="fb-root"></div>
<script src="{{ MEDIA_URL }}scripts/homepage/homepage.js"></script>
<h1> Rate My Video </h1>
<div id="description">
Rate My Video is a site that pays you to watch YouTube videos!<br /><br />
</div>

<div id="signup">
Unfortunately, Rate My Video is currently invite-only. If you would like to sign up and start rating videos, fill out the form below!
    <div id="desc">How did you hear about Rate My Video? <input id="desc_input" type="text" name="desc_input" ><br /></div><br />
    <div id="invite_submit">
        <input id="invite_submit_button" type="submit" value="Submit"> (Requires logging in with Facebook)</div>
    <div class="notify"></div>
</div>

{% endblock body %}
{% block styles %}
    {{ block.super }}
{% endblock styles %}
{% block scripts %}
    {{ block.super }}
{% endblock scripts %}
