{% extends "base.html" %}

{% block title %}Sign Up{% endblock title %}

{% block body %}
Unfortunately, we are no longer accepting any more users at this time.<br />
We appreciate your interest in Rate My Video!
<!-- Fill out the form below and sign up with your Facebook account!
<br /><br />
<div id="signup">
    <input type="text" id="referral-input">
    <a id="referral-tooltip" class="pointer" title="If someone referred you, please let us know so that we can give them a referral bonus!">[?]</a>
    <label for="referral-input">Referral</label>
    <br /><br />
    <input type="text" id="pp-email-input">
    <a id="pp-email-tooltip" class="pointer" title="Your Paypal email is required to receive payments.">[?]</a>
    <label for="pp-email-input">Paypal Email</label>
    <br /><br />
    <a class="pointer">
        <img id="invite-submit-button" src="{{ STATIC_URL }}images/facebook_40px.png" />
    </a>
    <br /><br />
    <div class="notify"></div>
</div> -->
{% endblock body %}

{% block styles %}
<link type="text/css" rel="stylesheet"
    href="{{ STATIC_URL }}styles/homepage/signup.css" />
{% endblock styles %}

{% block scripts %}
<script src="{{ STATIC_URL }}scripts/homepage/signup.js"></script>
{% endblock scripts %}